
.boxup
{
    width:80%;
    min-height:100px;
    border:2px solid black;
    margin:10px auto;
    padding:10px;
    /* background-image:url(../imgs/Chandrapur.jpg); */
    position: absolute;
}
.box
{
    width:80%;
    min-height: 100px;
    border: 1px solid black;
    margin: auto;
    background-color: yellow;
    padding: 10px;
    position: sticky;
    top:0;

}